
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Let's Chat</title>
</head>
<style>
body{
  overflow: scroll;
}

#text-area{
  height: auto;
  width: auto;
}

#messages{
  height: 500px;
  width: 1000px;
  overflow: scroll;
  font-size: 20px;
  font-family: Comic Sans MS;
  background: #1a1a1a;
  color: #ffffff;
  padding:10px;
}

#chatbox{
  height: auto;
  width: 900px;
  overflow: scroll;
  font-size: 20px;
  font-family: Comic Sans MS;
  background: #1a1a1a;
  color: #ffffff;
  padding:10px;
}
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  padding-top: 20px;
  overflow-y: scroll;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  overflow-x: scroll;
}

.sidenav a:hover {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 22px;}
}
</style>
<body style="background-image: url(./../images/background.gif)">
  <center>
    <div id="online-users" style="color: #00ff00;font-family: Comic Sans MS;font-size: 20px">
      Active Users: 0
    </div>
  </center>
  <br>
  <div class="sidenav">
    <div id="sidenavTitle" style="color: #00ff00;font-family: Comic Sans MS;font-size: 20px">
      <center>Active Users</center>
    </div>
    <br>
    <div id="displayUsers">
    </div>
  </div>
  <div id="text-area">
    <center>
      <textarea id="messages" placeholder="Welcome To Strange-Chat!Start Chatting!" readonly></textarea>
    </center>
  </div><br>
  <div id="chat-area">
    <center>
      <form id="send-chat" action="/" method="GET">
      <textarea id="chatbox" placeholder="Start Typing Here"></textarea>
      <input type="button" value="Send" style="background: black;color: #00ff00;padding: 10px;border-radius: 7px;font-family: Comic Sans MS" onclick="handleSend()">
      </form>
    </center>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
  <script type="text/javascript" src="../js/mychat.js"></script>
</body>
</html>

